body {
    background: url("background-cozinha.webp") no-repeat top center fixed;
    background-size: cover;
    overflow: hidden;
}

div.container {
    font-family: sans-serif;
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 90%;
    min-height: 400px;
    text-align: center;
    font-family: sans-serif;
}

.showRecipeButton {
    margin-top: 10px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.showRecipeButton:hover {
    background-color: #0069d3;
}

.newRecipeButton {
    margin-top: 10px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.newRecipeButton:hover {
    background-color: #218838;
}

.returnButton {
    margin-top: 10px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.returnButton:hover{
    background-color: red;
}

.saved{
    color: #218838;
    padding: 100px;
}